[submodule "3rdpty/sources/ffmpeg"]
	path = 3rdpty/sources/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
    branch = master
[submodule "3rdpty/sources/rubberband"]
	path = 3rdpty/sources/rubberband
	url = https://github.com/breakfastquay/rubberband.git
    branch = default
[submodule "3rdpty/sources/spdlog"]
	path = 3rdpty/sources/spdlog
	url = https://github.com/gabime/spdlog.git
    branch = v1.x
[submodule "3rdpty/sources/fmt"]
	path = 3rdpty/sources/fmt
	url = https://github.com/fmtlib/fmt.git
    branch = master
[submodule "3rdpty/sources/openal"]
	path = 3rdpty/sources/openal
	url = https://github.com/kcat/openal-soft.git
    branch = latest
[submodule "3rdpty/sources/sdl"]
	path = 3rdpty/sources/sdl
	url = https://github.com/libsdl-org/SDL.git
    branch = master
